body {
    font-family: 'Brawler', sans-serif;
    background-color: #CD5C5C
}

.card {
    border: 0px solid #ccc;
    border-radius: 25px;
    padding: 25px;
    margin-bottom: 25px;
    background-color: #FFF0F5;
    max-width: 300px;
  }